@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(./abstract-colorful-shapes-background_23-2148769632.jpg);
  background-size: cover;
  background-position: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.logo {
  font-size: 2em;
  color: #fff;
  user-select: none;
}

.navigation a {
  position: relative;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navigation a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}

.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.navigation a:hover {
  text-decoration: none;
}

main {
  position: relative;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#uploads-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  justify-content: center;
  margin: 40px;
}

.upload-card {
  width: 100%;
  background-color: #000;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.upload-card:hover {
  transform: translateY(-5px);
}

.upload-card img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.upload-card-content {
  padding: 20px;
  color: #fff;
}

.upload-card-content h4 {
  margin-bottom: 10px;
}

.upload-card-content a {
  display: inline-block;
  padding: 10px 15px;
  background-color: #162938;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.upload-card-content a:hover {
  background-color: #0b1720;
  text-decoration: none;
}

.upload-card-content a:link,
.upload-card-content a:visited {
  color: #fff;
  text-decoration: none;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  text-align: center;
  color: #fff;
  font-size: 0.9em;
}

footer p {
  margin: 0;
}

@media (max-width: 600px) {
  .logo {
    font-size: 20px;
  }

  .navigation a {
    margin-right: 5px;
  }
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

body::-webkit-scrollbar-thumb:active {
  background-color: #999;
}
