@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(./abstract-colorful-shapes-background_23-2148769632.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

main {
    margin: 100px;
    text-align: center;
}

main h1 {
    margin-bottom: 30px;
}

main p {
    line-height: 1.5;
    margin-bottom: 40px;
}

footer {
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
}

footer p {
    margin: 0;
}

.wrapper {
    backdrop-filter: blur(50px);
    height: 80vh;
    width: 80vw;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
  }
  
  .wrapper h2 {
    text-align: center;
    font-size: 40px;
  }
  
  .wrapper p {
    text-align: center;
    font-size: 20px;
  }
  
  .Discord,
  .Twitter,
  .YouTube,
  .Instagram {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    transition: all 0.3s ease-in-out;
  }
  
  .Discord:hover,
  .Twitter:hover,
  .YouTube:hover,
  .Instagram:hover {
    transform: scale(1.1);
  }
  
  .Discord a,
  .Twitter a,
  .YouTube a,
  .Instagram a {
    color: #7289da;
  }
  
  .Twitter a {
    color: #1da1f2;
  }
  
  .YouTube a {
    color: #ff0000;
  }
  
  .Instagram a {
    color: #c13584;
  }
  
  
body::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

body::-webkit-scrollbar-thumb:active {
  background-color: #999;
}
